---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.13.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: https://github.com/tfsec/tfsec
    rev: v1.28.5
    hooks:
      - id: tfsec-system
  - repo: local
    hooks:
      - id: format-jobspec
        name: Format jobspec
        language: system
        entry: nomad
        args:
          - fmt
        files: nomad
        exclude: ".*tpl"

ci:
  autoupdate_branch: main
